/** Author: Cheryl J. Banks **/
/** This is CSS code for my redesign of the Craigslist landing page. **/

body {
    width: 100%;
    max-width: 420px;
    min-width: 330px;
    margin: 2em auto;
    font: 300 .85em/1.7 Roboto, Arial, sans-serif;
    /** Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient **/
    background: content-box radial-gradient(#ffffff, #ffffff, #ffffff, #e5f9ff, #d0f8fb);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 15px;
    max-width: 420px;
    min-width: 330px;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
}


.listOptions {
    grid-column: 1 / 3;
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr, 2fr;
    grid-row-gap: 1em;
}

    .headLine {
      font-size: 1.15rem;
      bottom: 0;
      line-height: 1.2rem;
      padding-top: 1rem;
    }

    .byLine {
      font-size: 0.8rem;
      font-weight: 400;
      padding-bottom: 0.6rem;
      font: Roboto, Arial, sans-serif;
    }

    .sideBar {
      padding-left: 0.5rem;
    }

    .fas.fa-ad {
      grid-column: 1 / 2;
      grid-row: 1;
      font-size: 3.5rem;
      padding-left: 0.7rem;
      padding-top: 0.2rem;
      color: #2abbc5;
    }

    .postAnAd, .postAdSidebar {
      background: #0081a2;
      color: #Ffffff;
    }

    .adPostDescription {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .fas.fa-phone-volume {
      grid-column: 1 / 2;
      grid-row: 2;
      padding-left: 1.5rem;
      font-size: 3rem;
      padding-top: .5rem;
      color: #5c90b7; /** background: #344a82 **/
    }

    .talkConnect, .talkSidebar {
      background: #344a82;
      color: #Ffffff;
    }

    .talkDescription {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    .fas.fa-briefcase {
      grid-column: 1 / 2;
      grid-row: 3;
      font-size: 3.1rem;
      padding-left: 1.1rem;
      padding-top: 0.5rem;
      color: #d06f04;
    }

    .workJob, .workSidebar {
      background: #f9a10e;
      color: #Ffffff;
    }

    .workDescription {
      grid-column: 2 / 3;
      grid-row: 3;
    }


    .fas.fa-search-dollar {
      grid-column: 1 / 2;
      grid-row: 4;
      font-size: 3.1rem;
      padding-left: 1.2rem;
      padding-top: .5rem;
      color: #c74300;
    }

    .buySellMarket, .marketBar {
      background: #F86624;
      color: #Ffffff;
    }

    .marketPlaceDescription {
      grid-column: 2 / 3;
      grid-row: 4;
    }

    .far.fa-comment-alt {
      grid-column: 1 / 2;
      grid-row: 5;
      font-size: 2.7rem;
      padding-left: 1.2rem;
      padding-top: .8rem;
      color: #bf0113;
    }

    .advice, .adviceBar {
      background: #EA3546;
      color: #Ffffff;
    }

    .safeDescription {
      grid-column: 2 / 3;
      grid-row: 5;
    }

    .far.fa-smile {
      grid-column: 1 / 2;
      grid-row: 6;
      font-size: 2.7rem;
      padding-left: 1.2rem;
      padding-top: .8rem;
      color: #00b8f5;
    }

    .whatIsNew, .newSidebar {
      background: #006cbf;
      color: #Ffffff;
    }

    .newDescription {
      grid-column: 2 / 3;
      grid-row: 6;
    }

    .fas.fa-peace {
      grid-column: 1 / 2;
      grid-row: 7;
      font-size: 2.7rem;
      padding-left: 1.2rem;
      padding-top: .8rem;
      color: #007def;
    }

    .aboutUs, .aboutSidebar {
      background: #0037bf;
      color: #Ffffff;
    }

    .aboutDescription {
      grid-column: 2 / 3;
      grid-row: 7;
    }

    .far.fa-envelope-open {
      grid-column: 1 / 2;
      grid-row: 8;
      font-size: 2.7rem;
      padding-left: 1.2rem;
      padding-top: .6rem;
      color: #a76cff;
    }

    .contactUs, .contactSidebar {
      background: #4d00bf;
      color: #Ffffff;
    }

    .contactDescription {
      grid-column: 2 / 3;
      grid-row: 8;
    }

    .fas.fa-question {
      grid-column: 1 / 2;
      grid-row: 9;
      font-size: 2.7rem;
      padding-left: 1.4rem;
      padding-top: .7rem;
      color: #dd52ea; /** background: #a300b3 **/
    }

    .helpDescription {
      grid-column: 2 / 3;
      grid-row: 9;
    }

    .helpFAQ, .helpSidebar {
      background: #a300b3;
      color: #Ffffff;
    }

.tenthRow {
  grid-column: 1 / 2;
  grid-row: 3;
}

.eleventhRow {
  grid-column: 2 / 3;
  grid-row: 3;
}


.twelfthRow {
  grid-column: 1 / 2;
  grid-row: 4;
}

.thirteenthRow {
  grid-column: 2 / 3;
  grid-row: 4;
}

footer {
  grid-column: 1 / 3;
  grid-row: 5;
}

p {
  background-color: rgb(211, 239, 255);
  margin-bottom: 0;
}

aside {
  border-right: 1px solid #999;
}


/** Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/padding **/
.navbar {
  padding: 0.75rem .1rem .1rem;
}

.bg-light {
  background-color: #ffffff!important;
}

i.fas.fa-sign-in-alt.fa-lg {
  padding-right: .2rem;
  color: rgb(0, 79, 111);
}

/** Source: https://www.reddit.com/r/css/comments/7ym886/how_to_center_align_text_inside_a_css_grid_cell/ **/
.theBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 79, 111);
}


h2.topper {
  color: rgb(0, 79, 111);
}
